/* atributos genereales */

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

img {
    height: 15em;
}

/* Contenido*/
.contenido {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.feria {
    width: 60em;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.productos {
    display: flex;
    flex-direction: row;
}


.tikets {
    width: 40em;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}